MONGO_URL=<insert MongoDB URL here>
WHITELIST=<Comma separated list of allowable hosts>
PORT=<Port number to run app on>
JWT=<Secret Key to Sign JWT Tokens>
COOKIE=<Secret Key to Sign Cookies>
EV_API=<api key>